#firstP{
    border:3px dashed rgb(243, 194, 60);
    color:blueviolet;
}

.secP{
    border: 4px dotted rgb(100, 149, 237);
    color:black;
}

.thirdP{
    border:3px dashed rgb(255, 0, 0);
    color:rgb(117, 179, 55);
}


.fourP{
    background-color:rgb(179, 77, 77);
}

#fifthP{
    color:green;

.esthi
{
    border:3px dashed rgb(219, 146, 201)

}
link.css