body{
    background-image: url('flower.png');
    background-repeat:  repeat;
    background-size: cover; /*요소의 영역을 모두 배경이 커버*/
    background-size: contain;/*요소의 영역에 모두 표시, 요소 영역에 배경이 없는 영역이 생김*/
    background-attachment:fixed; /*viewport에 배경이미지 위치를 고정*/}
div{
    background-color: yellow;
    font-size: 100px;
    height:5000px;
}

p{
    background-image: url("flower.png");
    background-position: left;
    background-repeat: no-repeat;
}